.dropdown{

    width: 310px;
}

.mb-0{
width: 700px;

}

.p-4.mb-3.bg-white{
width: 480px;
}

.iframe {
    border-width: 0px;
    
}

.botton{

    padding-left: 50px;
    padding-right: 50px;
    background-color: #acf3df;
    border-color: #32dbc6;
 }

.mnav {
    position: absolute;
    z-index: 100;
    width: 100%;
    border-bottom: 7px solid rgb(50, 219, 198);
}
